{% extends 'base.html.twig' %}

{% block title %}{{ petition.title }}{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">{{ petition.title }}</h1>
    <hr class="my-4" />
    <p class="lead">
      {% trans  with {'%count%': signatureCount} %} %count% signature | %count% signatures {% endtrans %}
    </p>
  </div>
</div>
{% endblock %}
