{% extends 'base.html.twig' %}

{% block title %}{{ petition.title }}{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">{{ petition.title }}</h1>
  </div>
</div>
<div class="container">
  <div class="card">
    <h5 class="card-header">{{ 'Remove my signature' | trans }}</h5>
    <div class="card-body">
      <div class="alert alert-success" role="alert">
        {{ 'Your signature has been cancelled' | trans }}.
      </div>
    </div>
  </div>
</div>
{% endblock %}
