{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}{{ petition.title }}{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">{{ petition.title }}</h1>
  </div>
</div>
<div class="container">
  {% if signature and signature.status == 'accepted' %}
  <div class="card">
    <h5 class="card-header">{{ 'Do you want to remove your signature from the petition?' | trans }}</h5>
    <div class="card-body">
      <p class="card-text">{{ 'Do you want to remove your signature from the petition <strong>%petition%</strong>?' | trans({'%petition%': petition.title}) | raw }}</p>
      {{ form_start(form) }}
      <div>
        <a href="{{ petition_page | default(url('petition', { slug: petition.slug })) }}" class="btn btn-secondary">{{ 'Keep my signature' | trans }}</a>
        {{ form_widget(form.send) }}
      </div>
      {{ form_end(form) }}
    </div>
  </div>
  {% elseif signature and signature.status == 'revoked' %}
  <div class="alert alert-success" role="alert">
    {{ 'Your signature has been cancelled' | trans }}.
  </div>
  {% else %}
  <div class="alert alert-warning" role="alert">
    {{ 'Signature can not be found' | trans }}.
  </div>
  {% endif %}
</div>
{% endblock %}
